<div class="container border border-primary rounded" id="login-form">
    <div class="row">
        <div class="col-md p-5">
            <form>
                <div class="form-group">
                    <label for="inputEmail1">Owner Email</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="text-right">
                    <a routerLink="signup" class="text-primary">Create Account</a>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>