<div class="container border border-primary rounded" id="signup-form">
    <div class="row">
        <div class="col-md p-5">
            <form>
                <div class="form-group">
                    <label for="email">Owner Email</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="restaurantName">Restaurant Name</label>
                    <input type="text" name="restaurantName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="restaurantAddress">Restaurant Address</label>
                    <input type="text" name="restaurantAddress" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="text-right">
                    <a routerLink="" class="text-info"><small>Already Registered? Login here</small></a>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>