<div class="jumbotron">
    <h1 class="display-4">{{ restaurantName }}</h1>
    <button id="reserveBtn" class="btn btn-info" (click)="logOut()">Log Out</button>
</div>
<div class="container" id="home">
    <div class="row">
        <div class="col-md-10 p-5 border border-warning rounded">
            <div class="list-group w-100">
                <div class="list-group-item list-group-item-warning w-100" *ngFor="let res of reservations">
                    <strong>{{ res.name }},</strong> <small>{{ res.phone }} <br> {{ res. email}}</small>
                    <br>
                    {{ res.date }}, {{ res.time }}
                    <button id="reserveBtn" class="btn btn-outline-danger ml-2" (click)="deleteReservation(res._id)">
                        delete
                    </button>
                    <button id="reserveBtn" class="btn btn-outline-success" (click)="editReservation(res)">
                        edit
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="goToAddReservationPage()">Add Reservation</button>
        </div>
    </div>
</div>