<div class="container" id="home">
    <div class="row">
        <div class="col-md-10 p-3 border border-warning rounded">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error totam quia recusandae, nam laboriosam voluptatem, nisi officia dolore aut dignissimos rem reiciendis ea quaerat. Eum fuga incidunt repudiandae commodi non!</p>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="goToAddReservationPage()">Add Reservation</button>
        </div>
    </div>
</div>
